body{
    margin: 0;
    background-color: #F5F5F5;
}

.app{
    background-color: #F5F5F5;
}

.spacer {
    margin: 6px;
}

.padded{
    padding: 8px;
}

dt{
    font-weight: 500;
}

.centred{
    margin-left:50% !important;
    transform: translateX(-50%);
}

.card-loading-icon{
    margin-bottom: 25px !important;
    margin-top: 25px !important;
}

tile > div{
    padding-left: 3px;
}