@import "https://fonts.googleapis.com/css?family=Roboto:400,300,500";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "flexboxgrid";
@import "../third-party/css/font-awesome";
$octicons-font-path: '/fonts';
@import "../third-party/css/octicons";
@import "../third-party/css/font-mfizz";

body{
    margin: 0;
    background-color: #F5F5F5;
    touch-action: manipulation;
    overflow-x: hidden;
}

#react-container{
    overflow-x: hidden;
}

.app{
    background-color: #F5F5F5;
}
.content {
    padding: 12px;
}

.spacer {
    margin: 6px;
}

.padded{
    padding: 5px;
}

dt{
    font-weight: 500;
}

.centred{
    margin-left:50% !important;
    transform: translateX(-50%);
}

.card-loading-icon{
    margin-bottom: 25px !important;
    margin-top: 25px !important;
}

tile > div{
    padding-left: 3px;
}

dd{
    margin-top: 1px;
   margin-bottom: 8px;
}

.card-container > div{
    margin-top: 8px;
}

.appbar h2{
    color: white;
}
.appbar{
    padding-left:25px;
    margin-right: 0;
}

.work-history-card{
    margin-bottom: 12px;
    padding: 0;
}

.work-history-card li, .education-text > li{
    margin-top: 10px;
}

.footer{
    padding-top:5px;
    margin-top: 12px;
    color: white;
}
.footer p{
    margin: 0;
}

.card-enter{
    opacity: 0.2;
    transform: translateX(-100%);    
}
.card-enter.card-enter-active{
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.4s ease;
}
.card-appear{
    opacity: 0.2;
    transform: translateX(-100%);    
}
.card-appear.card-appear-active{
    opacity: 1;
    transform: translateX(0);
    transition: all 0.8s ease;
}

.grow-enter {
    max-height: 0;
    overflow: hidden;
}
.grow-enter.grow-enter-active {
  max-height: 100px;
  transition: max-height 800ms ease;
}
.grow-appear {
    max-height: 0;
    overflow: hidden;
}
.grow-appear.grow-appear-active {
  max-height: 100px;
  transition: max-height 800ms ease;
}

.fade-enter, .fade-appear {
    opacity: 0;
}
.fade-enter.fade-enter-active, .fade-appear.fade-appear-active {
    opacity: 1;
    transition: all 1500ms ease;
}

.repo-list, .lang-list {
    height: 380px;
    overflow-y: auto;
}

.tech-chart{
    padding: 15px 20px;
    p {
	margin: 0;
    }
    svg{
	g{
	    cursor:pointer;
	    transition: 10s ease all;
	    & image, & circle {
		transition: 1.5s ease all;
	    }
	}
    }
}

.chart-keys {
    margin-top: 10px;
    padding: 15px;
    display: inline-block;
    .chart-key {
	margin: 0 10px;
	display: inline-block;
	.key-colour {
	    height: 10px;
	    width: 10px;
	    display: inline-block;
	    margin-left: 4px;
	    margin-top: 8px;
	}
    }
}